.action-btn {
  border: none !important;
}
.action-btn:hover {
  background-color: #fe8402 !important;
  transition: all 0.3s ease-out;
}

.nav-item a:hover {
  color: #fe8402 !important;
  transition: all 0.3s ease-out;
}
.landing{
    height: 100vh;
}